/*Global styles*/

* {
  box-sizing: border-box;
  border: 1px dotted red;
  margin:0;
  padding:0;
  font-family: Helvetica, "Times New Roman";
}


/*footer bottom*/

html, body {
  height: 100%;
}

/*-------------*/

body {
  background-color: rgba(49, 68, 99, 0.8);
}

main {
  position: relative;
  background-image: url("../photos/hb.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index:50;
  min-height: 100%;

}



nav {
  position: relative;
  z-index: 100;
}
  
/*Navigation bar styles*/


.navbar {
  
  top: 0; /* set top 0PX from nearest ancestor */
  background-color: rgba(102,255,255,0.2);
  clear: both;
  width: 100%;
  text-decoration: none;
  position: fixed;




}

.navbar a {
  padding:1.2%;
  float: left;
  display: inline-block;

}

header nav a {
  text-decoration: none;
  color: rgb(154, 418, 21);
  
  transition-property: background color;
  transition-duration: 0.7s;
  
  font-size:1.2em;
}

nav a:hover {
  
  color: rgba(200,6,93,0.2);
  cursor: pointer;
  background: rgba(50,340,60,0.2);
  
}

nav a:active{
  color: orange;
  background-color: rgba(106,23,130,0.2);
}

/*Header styles*/


/* Fixed footer style*/
 .container {
  min-height: 100%;
  margin-bottom: -100px;
  position: relative;
 }


/*Main body styles*/


/*auto makes profile image responsive/ can also use max width and height to keep image positioned properly*/
.profile {
  display: inline-block;
  padding: 5%;
  width: 50%;
  max-height: 50%;
  border-radius: 50%;
  opacity: 0.7;
  float: left;


}

/*for quote of the day on home*/


.quote {
  
  height: 50%;
  width: 50%;
  /*viewport width and viewport height alow adjust font based on width or height of containing element*/
  font-size: 9vw;
  font-style: italic;
  display: inline-block;
  float: left;
  margin-top:10%;
  color: rgb(232, 220, 178);
}

.quote2 {
  
  height: 50%;
  width: 50%;
  font-size: 9vw;
  font-style: italic;
  text-align: center;
  display: inline-block;
  float: left;
  color: rgb(232, 220, 178);
}

.quote3 {
  
  height: 50%;
  width: 50%;
  font-size: 9vw;
  font-style: italic;
  text-align: right;
  display: inline-block;
  float: left;
  color: rgb(232, 220, 178);
}



/*Main test to see if boxes within main are transparent too or if can apply a z-index to change*/
/*Update: Apparently you can!*/
.makeit {
  background-color: white;
  position: relative;
  z-index: 200;
  width: 50%;
  clear: both;
}
/*-----------------------------*/







/*Recap top, bottom, left, right can help get rid of unecessary spaces!*/



/*Footer styles*/

.contact-info {
  display: inline-block;
  padding-bottom: 2%;


  

}


a {
  padding-right: 5%;
  padding-left: 5%;
}



.circ {
  
  border-radius:100%;
  max-width: 4%;
  max-height: 4%;
  
}

.sqre {
  
  border-radius:20%;
  max-width: 4%;
  max-height: 4%;
  
}

.contact-info a:hover {

}


.clearfooter {
  border: 1px solid purple;
  height: 100px;
  clear: both;
}
/*------------------------------------*/

footer {
  max-width: 100%;
  height: 100px;
  position: relative;
  text-align: center;

}

footer h2 {
  width: 100%;
  padding-top: 1%;
  color: rgb(179, 190, 209);
  text-transform: uppercase;
  font-weight: 700;
}

footer h2 ~ h3 {
  text-align: center;
  color: rgb(179, 190, 209);
  font-style: italic;
}

footer p {
  clear: both;
  font-weight: 0;
  font-size: 1.2em;
  color:lightgreen;
  }

.padthai {
  padding-bottom: 0.5%;
}




/*Media Queries for responsive web design*/

/*Preface links with their written meaning!!!*/
@media (max-width: 350px) {
  
  footer p:before{
    content: "Email / Phone #: ";
    font-style: italic;
    color: lightgreen;
    font-weight: 700;
    font-size: 0.7em;
  }
}



@media (max-width: 402px) {
  
  nav a {
    width: 100%;
  }

  main img {
    padding-top: 0%;
    background-color: none;

    position: fixed;
    top: 0;
    right: 8%;

    max-width: 57%;
    max-height: 57%;
  
    z-index: 300;
    background-color: rgba(48, 80, 99, 0.3);
  }

  .quote {
    clear: both;
    display: block;
    font-size: 3em;
  }
}



@media (max-width:600px) {
  footer h2 {
    font-size: 0.9em;
  }
  footer h3 {
    font-size: 0.9em;
  }

  footer p {
    font-size: 0.9em;
  }
}

@media (max-width: 370px){
  
  footer h3 {
    display:none;
  }

  footer h2 {
   width: 50%;
/*margin is used to center align containers and boxes!!!*/
   margin: 0 auto;   
   font-size:0.8em;
   font-weight: 900;
   padding-bottom: 3%; 
  }
  
  img {
    margin:0 auto;
  }
  
  footer a {
    padding-top: 2%;
    padding-bottom: 2%;
    display: block;
  }
}