/*Global styles*/

* {
  box-sizing: border-box;
  border: 1px dotted red;
  margin:0;
  padding:0;
  font-family: "Trebuchet MS", "Times New Roman";
}

html {
  width: 100%;
}

/*footer bottom*/

html, body {
  height: 100%;
}

/*-------------*/

body {
  background-color:  rgba(24, 50, 56, 0.8)

}

main {
  margin-top: 0;
  clear: both;
  position: relative;
  background-image: url("../photos/hb.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  z-index:50;
  min-height: 100%;


}



  
/*Navigation bar styles*/


.navbar {
  top: 0; /* set top 0PX from nearest ancestor */
  background-color: rgba(102,255,255,0.2);
  clear: both;
  width: 100%;
  text-decoration: none;
  position: fixed;
  max-width: 1300px;
  /*Since fixed the nav - completely ignores its container so nav width spans whole webpage*/
  z-index: 900;
}

.navbar a {
  padding:1.2%;
  float: left;
  display: inline-block;

}

header nav a {
  text-decoration: none;
  color: rgb(154, 418, 21);
  
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.7s;

  -moz-transition-property: background-color;
  -moz-transition-duration: 0.7s;
  
  transition-property: background color;
  transition-duration: 0.7s;

  
  font-size:1.2em;
}

nav a:hover {
  
  color: rgba(200,6,93,0.2);
  cursor: pointer;
  background: rgba(50,340,60,0.2);
  
}

nav a:active {
  color: orange;
  background-color: rgba(106,23,130,0.2);
}

/*Header styles*/


/* Fixed footer style*/
 .container {
  min-height: 100%;
  margin-bottom: -100px;
  position: relative;
 }


/*Main body styles*/

/* Grid view css*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
  float: left;
  padding: 0;
  border: 1px solid red;
}




.row::after {
  content: "";
  clear: both;
  display: table;
  /*display table needed to make content in a row be contained within row*/
}


.listspan {
  width: 100%;
  cursor: pointer;
  margin: 1%;
  list-style-type: none;
}

.listspan li{
  
  font-size: 2vw;
  z-index: 500;
  background: lightgreen;
  font-family: "Verdana";
  color: rgba(209, 56, 84, 0.8);
  font-weight: 900;
  width: 80%;
  max-width: 80%;
  

}

.listspan li:hover {
  background: rgb(209, 56, 84);
  color:lightgreen;
}


#a1, #a2, #a3 {
  display: none;
  padding: 2%;
  margin-left: 3%;
}

#a1 {
  margin-bottom: 8%;
  border-radius: 20px;
  text-align: center;
}

#a2 {
  margin: 20% 0 8% 3%;
  border-radius: 20px;
  text-align: center;
}

#a3 {
  margin: 20% 0 8% 3%;
  border-radius: 20px;
  text-align: center;
}


/* styles for experience section on about page*/
 .expstyle {
  font-size: 1.2vw;
 }



li.selected {
  background-color: purple;
  color: orange;
}


/* css for about content*/

/* list detail stuff */

 .detail_container {
    position: relative;
   
  
  
  
}
 
.list_detail {
  
  position: relative;
  font-size: 1.6vw;

  width: 100%;
  height: 100%;
  color: #fff;
}
 

.col-8 {
  position: relative;
 }



.list_detail_container {
  display: none;
}

























/*auto makes profile image responsive/ can also use max width and height to keep image positioned properly*/



.containerimg {
  display: none;
  padding: 3%;

  max-width: 37%;
  max-height: 37%;
  border-radius: 50%;
  opacity: 0.8;
  float: left;
  z-index: 300;
}

.shapeit {
  border-radius: 10%;
  max-width: 15%;
  max-height: 15%;
  opacity: 0.5;
}





/*for quote of the day on home*/
/*contain in a container therefore when resize quote maintains responsiveness*/
.contain-quote {
  padding-top: 2%;
  width: 63%;
  font-size:4.5vw;
  max-width: 63%;
  /*viewport width and viewport height alow adjust font based on width or height of containing element*/
  
  font-style: italic;
  display:inline-block;
  float: left;


}

.quote {
  

  display: none;
  width: 100%;
  max-width: 100%;

  font-style: italic;
  color: rgb(232, 220, 178);
  font-family: "palatino";
  text-decoration: underline;
}

.quote2 {
  text-align: center;
  display: none;
  width: 100%;
  max-width: 100%;

  font-style: italic;
  color: rgb(232, 220, 178);
  font-family: "palatino";
  text-decoration: underline;
}

.quote3 {
  text-align: right;
  display: none;
  width: 100%;
  max-width: 100%;

  font-style: italic;
  color: rgb(232, 220, 178);
  font-family: "palatino";
  text-decoration: underline;
}



/*Main test to see if boxes within main are transparent too or if can apply a z-index to change*/
/*Update: Apparently you can!*/
.makeitknown {
  margin-top:5%;

  max-width: 100%;
  max-height: 200px;
  
  /*margin-top:24%; */
  position: relative;
  z-index: 200;
  
  text-align: center;
  background: linear-gradient(to bottom right, lightgray, transparent);
  font-size: 250%;
  clear: both;
  color: rgb(4, 109, 70);


  /*animation css3*/
  -webkit-animation-name: cool;
  -webkit-animation-duration: 3s;


  -moz-animation-name: cool;
  -moz-animation-duration: 3s;


  animation-name: cool;
  animation-duration: 3s;
}

.makeitknownB {
  margin-top:5%;

  max-width: 100%;
  max-height: 200px;
  
  /*margin-top:24%; */
  position: relative;
  z-index: 200;
  
  text-align: center;
  background: linear-gradient(to bottom right, rgb(209, 56, 84), transparent);
  font-size: 200%;
  clear: both;
  color: rgb(4, 109, 70);


  /*animation css3*/
  -webkit-animation-name: coolittle;
  -webkit-animation-duration: 3s;


  -moz-animation-name: coolittle;
  -moz-animation-duration: 3s;


  animation-name: coolittle;
  animation-duration: 3s;


}

/* element to apply animation to ^^^^^ */

@keyframes cool {
  from {
    opacity: 0.1;
    font-size: 1%;
  }
  to {
    font-size: 250%;
    opacity: 0.8;
  }
}

@-webkit-keyframes cool {
  from {
    opacity: 0.1;
    font-size: 1%;
  }
  to {
    font-size: 250%;
    opacity: 0.8;
  }
}

@-moz-keyframes cool {
  from {
    opacity: 0.1;
    font-size: 1%;
  }
  to {
    font-size: 250%;
    opacity: 0.8;
  }
}

@keyframes coolittle {
  from {
    opacity: 0.1;
    font-size: 1%;
  }
  to {
    font-size: 200%;
    opacity: 0.8;
  }
}

@-webkit-keyframes coolittle {
  from {
    opacity: 0.1;
    font-size: 1%;
  }
  to {
    font-size: 200%;
    opacity: 0.8;
  }
}

@-moz-keyframes coolittle {
  from {
    opacity: 0.1;
    font-size: 1%;
  }
  to {
    font-size: 200%;
    opacity: 0.8;
  }
}

.gfont {
  font-family: "Georgia";

/*end of animation code*/
}

.gfontB {
  font-family: "Verdana";
}

.gfontC {
  font-family: "Verdana";
}
/*----------------------------- make position anything but static to animate it with jquery*/


/* CSS for the slideshow on homepage*/
.slideshow-container {
  display: none;
  max-width: 1000px;

  position: relative;
  margin: auto;

  padding-bottom: 10%;
}

.mySlides {
  display: none;

}

.dot {
  cursor: pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;

  -webkit-transition: background-color 0.6s ease;
  -moz-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/*fade animation*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
  -moz-animation-name: fade;
  -moz-animation-duration: 1.5s;

  border-radius: 100%;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@-moz-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* _________________________________ */


/*Recap top, bottom, left, right can help get rid of unecessary spaces!*/



/*Footer styles*/

.contact-info {
  display: inline-block;
  padding-bottom: 2%;


  

}


a {
  padding-right: 5%;
  padding-left: 5%;
}



.circ {
  
  border-radius:100%;
  max-width: 4%;
  max-height: 4%;
  
}

.sqre {
  
  border-radius:20%;
  max-width: 4%;
  max-height: 4%;
  
}

.contact-info a:hover {

}


.clearfooter {
 /* border: 1px solid purple;*/
  height: 100px;
  clear: both;
}
/*------------------------------------*/

footer {
  max-width: 75%;
  height: 100px;
  position: relative;
  text-align: center;
  margin: 0 auto;

}

footer h2 {
  width: 100%;
  padding-top: 1%;
  color: rgb(179, 190, 209);
  text-transform: uppercase;
  font-weight: 700;
}

footer h2 ~ h3 {
  text-align: center;
  color: rgb(179, 190, 209);
  font-style: italic;
}

footer p {
  clear: both;
  font-weight: 0;
  font-size: 1.2em;
  color:lightgreen;
  }

.padthai {
  padding-bottom: 0.5%;
}




/*Media Queries for responsive web design*/

/*Preface links with their written meaning!!!*/
@media (max-width: 350px) {
  
  footer p:before{
    content: "Email / Phone #: ";
    font-style: italic;
    color: lightgreen;
    font-weight: 700;
    font-size: 0.7em;
  }
}



@media (max-width: 402px) {
  
  nav a {
    width: 100%;
  }

  .containerimg {
    padding:0;
    margin: 0;
    position: fixed;
    top: 0;
    right:0;

    max-width: 40%;
    max-height: 40%;
    border-radius: 0%;
  
    z-index: 300;
    background-color: rgba(48, 80, 99, 0.3);
  }

  .contain-quote {
    margin-top:35%;
    max-width: 100%;
    width: 100%;
    text-align: center;
  }

  .quote3 {
    text-align: center;
  }

  .quote2 {
    padding-left: 5%;
  }
  
  .makeitknown {
    margin-top: 0;
    max-width: 50%;
    font-size: 3vw;
    display: inline-block;
    float: left;
    position: fixed;
    background: none;
    top: 0;
    right: 0;
    z-index: 500;
    color: rgb(7, 104, 140);

  }

  .gfont {
    text-align: right;
  }

  .makeitknownB {
    margin-top: 0;
    max-width: 50%;
    font-size: 3vw;
    display: inline-block;
    float: left;
    position: fixed;
    background: none;
    top: 0;
    right: 0;
    z-index: 500;
    color: rgb(209, 56, 84);

  }

  .gfontB {
    text-align: right;
  }

  footer h3 {
    display:none;
  }

  footer h2 {
   width: 50%;
/*margin is used to center align containers and boxes!!!*/
   margin: 0 auto;   
   font-size:0.8em;
   font-weight: 900;
   padding-bottom: 3%; 
  }
  
  img {
    margin:0 auto;
  }
  
  footer a {
    padding-top: 2%;
    padding-bottom: 2%;
    display: block;
  }

  /*for about page*/

.col-4 {
    width: 100%;
  }
 
.listspan {
  margin-top: 40%;
}

#a1 {
  margin: 1% auto;
 }
 
#a2 {
  margin: 1% auto;
 }

#a3 {
  margin: 1% auto;
}


  /* careful because .col is universal and will change for every .col class for every element*/

.col-3 {
  width: 100%;
}

.col-4 {
  width: 100%;
}

.col-5 {
  width: 100%;
}

  .col-8 {
    width: 100%;

  }

  .list_detail {
    display:inline-block;
    width: 100%;
    height: inherit;
  }
.detail_container {
  position: static;

}

.list_detail .list_info {
  width: 100%;
  height: inherit;
  
  font-size: 4vw;
  }


.expstyle {
  font-size: 2vw;
}



/*402px mobile resizing*/
}













@media (max-width: 512px) {
  .gfont {
    font-size:100%;
  }
}

@media (max-width:600px) {
  footer h2 {
    font-size: 0.9em;
  }
  footer h3 {
    font-size: 0.9em;
  }

  footer p {
    font-size: 0.9em;
  }
}

@media (max-width:700px) {
  .gfontB {
    font-size: 60%;
  }
}

@media (max-width:720px) {
  .gfontC {
    font-size: 60%;
  }
}


@media (min-width: 1288px) and (max-width: 2694px) {
  .listspan li {
    font-size:1vw;
    }
}

@media (min-width: 2695px) {
  .listspan li {
    font-size:0.5vw;
    }
}

@media (min-width: 2216px) {
  .contain-quote {
    font-size:2vw;
    color: white;
  }
}

@media (min-width: 3000px) {
    .list_detail {
    font-size: 1.1vw;
  }
}
